.form-field {
  box-sizing: border-box;
  display: block;
  height: 48px;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f8f8fa;
  font-family: inherit;
  color: $color-black;
  border-radius: 40px;
  padding: 14px 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
    
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: $color-black;
    outline: none;
  }

  &--textarea {
    height: 148px;
    font-family: inherit;
    resize: none;
    border-radius: 16px;
  }

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #292929;
  -webkit-text-fill-color: #292929;
  -webkit-box-shadow: 0 0 0 1000px #F8F8FA inset;
  transition: background-color 5000s ease-in-out 0s;
}
